<div class="flex justify-center">

    <div class="mt-3 w-full">
      <app-list-errors [errors]="errors"></app-list-errors>
        <h1>{{ this.testUpd.title }}</h1>
        <span>{{ this.testUpd.description }}</span>
        <ol>
            @for (questionUpd of this.testUpd.questions; track $index; let qIndex = $index) {
                <li class="question {{this.background(qIndex)}}" (click)="showDiablog(qIndex)">
                    @if (questionUpd.questionType === 1) {
                        <div>
                            <div>{{questionUpd.question}}</div>
                        </div>
                        <ol class="choice-answer-list">
                        @for (answer of asChoiceQuestion($index).answers; track $index; let aIndex = $index) {
                            <li>{{answer.answer}}
                              @if (answer.truth === true) {
                                <i class="pi pi-check"></i>
                              } @else {
                                <i class="pi pi-times"></i>
                              }
                            </li>
                            
                        }
                        </ol>
                    } @else if (questionUpd.questionType === 2) {
                        <div>{{questionUpd.question}}</div>
                    }
                </li>
            }
        </ol>
            
        <button class="updateTestBtn overcloud-btn mt-2" type="submit" (click)="updateTest()">
          Update
        </button>
    </div>
  </div>

@if (this.isQuestionSelected()) {
    <p-dialog 
      header="Edit question" 
      [(visible)]="visible" 
      [modal]="true" 
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
      [style]="{ width: '50vw' }" 
      [draggable]="false" 
      [resizable]="false"
      (onHide)="closeDiablog()">
  
      <div class="flex">
          <a class="deleteBtn"
            (click)="deleteQuestion()">
              Delete
          </a>
      </div>

      @if (this.testUpd.questions[this.selectedQuestionIndex].questionType == 1) {
            <div class="flex-col align-items-center gap-3 m-3" [formGroup]="this.questionForm">
                <label for="question" class="font-semibold p-2">Question: </label>
                <input pInputText id="question" class="flex-auto" formControlName="question"/>

                <div formArrayName="answers">
                    <ol>
                      @for (answer of this.getAnswerFormArr(); track $index) {
                        <li formGroupName="{{$index}}" class="mt-2 flex items-center">
                          <fieldset class="form-group mr-3 flex-1">
                                <div pInputText
                                id="content-answer-{{ $index }}"
                                placeholder="Câu trả lời" contenteditable class="textbox" formControlName="answer"></div>
                          </fieldset>

                          <fieldset class="form-group mr-3 truth-fieldset">
                            <label class="checkmark-fieldset">
                              <input
                                class="form-control"
                                formControlName="truth"
                                type="checkbox" />
                              <span class="checkmark border-solid border"></span>
                            </label>  
                          </fieldset>
                              
                          <a class="deleteBtn self-center"
                            (click)="deleteAnswer($index)" >
                            Delete
                          </a>
                      </li>
                      }  
                    </ol>
                </div>
            </div>

      } @else if (this.testUpd.questions[this.selectedQuestionIndex].questionType == 2) {
              <div class="flex align-items-center gap-3 m-3" [formGroup]="this.questionForm">
                  <label for="question" class="font-semibold p-2">Question: </label>
                  <input pInputText id="question" class="flex-auto" formControlName="question"/>
              </div>
      }
        
        <div class="flex justify-content-end gap-2 float-right">
            <p-button label="Cancel" severity="secondary" (onClick)="closeDiablog()" />
            <p-button type="button" label="Save" (onClick)="saveQuestion()" />
        </div>
  </p-dialog>
}
