

.text-settings {
  font-weight: bold;
  font-size: large;
}
.form-control {
  border: none;
  border-radius: 10px;
  padding: 8px;
}

.btn-logout {
  float: left;
  margin-left: 15px;
}

.settings-panel {
  margin-top: 20px;
  width: 450px;
  text-align: center;
  border-radius: 7px;
}

.btn-update {
  border-radius: 8px;
  padding: 4px 16px;
}

.bio {
  flex: 1 1 auto;
  padding: 1.25rem 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: anywhere;
  outline: none;
  min-height: 10rem;
}
