<div class="settings-page flex justify-center">
  <!-- <app-side-bar class="col-sm-0 col-s-0"></app-side-bar> -->

  <div class="flex flex-col justify-center settings-panel">
    <h1 class="text-settings mb-4">Settings</h1>

    <app-list-errors [errors]="errors"></app-list-errors>

    <form [formGroup]="settingsForm" (ngSubmit)="submitForm()" >
      <fieldset [disabled]="isSubmitting">
        <fieldset class="form-group mb-8">
          <p-floatLabel>
            <input pInputText class="form-border w-full" formControlName="image" />
            <label>Image:</label>
          </p-floatLabel>
        </fieldset>
        
        <fieldset class="form-group mb-8">
          <p-floatLabel>
            <input pInputText class="w-full form-border" formControlName="username" />
            <label>Username:</label>
          </p-floatLabel>
        </fieldset>
  
        <fieldset class="form-group mb-8 text-left flex flex-col">
              <!-- <textarea 
                  pInputText
                  id="bio" 
                  rows="5" cols="30"
                  class="w-full form-border" 
                  formControlName="bio"    
                  >
              </textarea> -->
              <label for="bio">Bio:</label>
              <div contenteditable id="bio" class="w-full bio form-border" formControlName="bio"></div>
        </fieldset>

        <button class="overcloud-btn btn-update float-right" type="submit">
          Update
        </button>
      </fieldset>
    </form>
  
    <!-- Line break for logout button -->
    <hr />
  
  </div>
  </div>
