.menu-item {
    background-color: transparent;
    border: none;
    border-radius: 0.4rem;
    color: #303030;
    cursor: pointer;
    height: 2.5rem;
    margin-right: 0.25rem;
    padding: 0.25rem;
    width: 3rem;
  
    span {
      fill: currentColor;
      height: 100%;
      width: 100%;
    }
  
    &:hover,
    &.is-active {
      background-color: gray ;
    }
}

.tiptap-editor {
  min-height: 20vh;
}

.comment-btn {
    border-radius: 3rem;
    float: right;
    padding:.5rem 1rem;
}

.card{
  position:relative;
  display:block;
  margin-bottom:.75rem;
  background-color:#fff;
}
.card-block{
  padding:1.25rem
}
.card-block::after{
  content:"";
  display:table;
  clear:both
}
.card-text:last-child{
  margin-bottom:0
}
.card-text {
  overflow-wrap: break-word;
}
.card-inverse .card-link,.card-inverse .card-text,.card-inverse .card-blockquote>footer{
  color:rgba(255,255,255,.65)
}
.card-footer{
  padding:.75rem 1.25rem;
  background-color:white;
  box-shadow:inset 0 0 0 1px rgba(0,0,0,.125)
}
.card-footer::after{
  content:"";
  display:table;
  clear:both
}
.card-footer:last-child{
  border-radius:0 0 .25rem .25rem
}
.article-page .card .comment-author{
  display:inline-block;
  vertical-align:middle
}
.comment-author-img{
  display:inline-block;
  vertical-align:middle;
  height:20px;
  width:20px;
  border-radius:30px
}
.comment-author{
  display:inline-block;
  vertical-align:middle
}
.article-page .card .date-posted{
  display:inline-block;
  vertical-align:middle;
  margin-left:5px;
  color:#bbb
}
.mod-options{
  float:right;
  color:#333;
  font-size:1rem
}

.card-text pre {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  word-break: break-word;
}