<p-dialog 
    header="Comments"
    (visibleChange)="this.closeDialog()"
    [visible]="true" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false">
        <div *appShowAuthed="true">
        <app-list-errors [errors]="this.commentFormErrors"></app-list-errors>
        <form class="comment-form">
            <fieldset [disabled]="isSubmitting" class="border-none">
            <div class="card-block">
                <!-- <textarea
                class="form-control w-11/12 outline-none"
                placeholder="Write comment..."
                rows="3"
                [formControl]="commentControl"
                ></textarea> -->
                <div class="editor-header" contenteditable="false" >
                @for (item of items; track $index) {
                    <button type="button" class="menu-item" [class]="item.isActive && item.isActive()? 'is-active' : ''" (click)="item.action() ">
                    <span class="material-symbols-outlined">
                    {{item.icon}}
                    </span>
                    </button>
                }
                </div>
                
                <div class="tiptap-editor">
                
                </div>
            </div>
            <hr>
            <button class="overcloud-btn comment-btn" (click)="this.addComment()">
                Respond
            </button>
            </fieldset>
        </form>
        </div>

        <div *appShowAuthed="false">
        <a [routerLink]="['/login']">Login</a> or 
        <a [routerLink]="['/register']">Register</a> to comments on this post.
        </div>
        <br>
        
        @for (comment of this.comments; track $index) {

            <div class="card">
              <div class="card-header">
                <a
                  class="comment-author"
                  [routerLink]="['/@'.concat(comment.author.username)]"
                >
                  <img
                    [src]="comment.author.image"
                    alt="author image"
                    class="comment-author-img"
                  />
                </a>
                &nbsp;
                <a
                  class="author"
                  [routerLink]="['/@'.concat(comment.author.username)]"
                >
                  {{ comment.author.username }}
                </a>
                <span class="date-posted">
                  {{ comment.createdAt | date : "longDate" }}
                </span>
                @if (this.canModify(comment)) {
                  <span class="mod-options cursor-pointer" >
                    <i class="pi pi-trash" (click)="this.deleteComment(comment)"></i>
                  </span>
                }
                
              </div>
              <div class="card-block">
                <div class="card-text" [innerHTML]="comment.body">
                </div>
              </div>
            </div>  
          }
</p-dialog>