
<div class="card flex gap-4 flex-col">
    <button class="overcloud-btn add-user-btn"><i class="pi pi-user-plus"></i></button>
    <p-iconField iconPosition="left">
        <p-inputIcon>
            <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
            pInputText
            type="text"
            [(ngModel)]="this.searchKeywords"
            placeholder="Search keyword"
        />
    </p-iconField>
</div>
<div class="card flex flex-col justify-center">
    <p-table #table 
    [value]="users"
    [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%">ID</th>
                <th style="width:20%">Username</th>
                <th style="width:20%">Email</th>
                <th style="width:20%">Image</th>
                <th style="width:20%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><p-image [src]="user.image" alt="Image" width="90" [preview]="true" />
                </td>
                <td>
                    <button class="overcloud-btn edit-user-btn mr-5"><i class="pi pi-pencil"></i></button>&emsp;
                    <button class="delete-btn"><i class="pi pi-trash"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="1" [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />
</div>