

.user-img {
  border-radius: 50%;
  background-color: url(../../../../images/no-avatar.png);
}

.setting-btn {
  border-radius: 10px;
  padding: 4px 16px;
}

.nav-item {
  background-color: white;
  border-radius: 10px;
  padding: 4px 16px;
}

/* .setting-btn:hover,
.nav-item:hover {
  color: white;
}

.setting-btn:focus,
.nav-item:focus {
  color: white;
  background-color: #0084ff;
} */

.bio {
  word-wrap: break-word;
  word-break: break-word;
}
.user-info {
  background-color: white;
  border-radius: 13px;
}

.menu-btn {
  border-radius: 10px;
  padding: 4px 16px;
  color: #0084ff;
  border: 1px solid;
  border-color: #0084ff;
  color: white;
}

.menu-btn:hover {
  background-color: #0084ff;
  color: white;
}

