.user-img {
  border-radius: 50%;
  background-color: url(../../../../images/no-avatar.png);
}

.setting-btn {
  border-radius: 10px;
  padding: 4px 16px;
  width: 8rem;
}

.nav-item {
  background-color: white;
  border-radius: 10px;
  padding: 4px 16px;
}

.profile-page {
  word-wrap: break-word;
  word-break: break-word;
}

.articles-toggle {
  gap: 0.25rem;
}

.user-info {
  background-color: white;
  border-radius: 13px;
  flex-wrap: wrap;
}

.menu-btn {
  border-radius: 10px;
  padding: 4px 16px;
  color: #0084ff;
  border: 1px solid;
  border-color: #0084ff;
  color: white;
}

.menu-btn:hover {
  background-color: #0084ff;
  color: white;
}

