<div class="profile-page flex justify-center flex-col" >

  @if (profile) {
        <div class="flex flex-row p-4 user-info">
          <img [src]="profile.image" class="user-img" alt="Avatar" width="160" height="160"/>
          <div class="user-info flex flex-col ml-5 justify-between">
            <h1 class="font-bold mb-4">{{ profile.username }}</h1>
            <div>
              <a class="followers"
                [routerLink]="['/settings']">
                 followers
              </a>
              <a class="following"
                [routerLink]="['/settings']">
                 following
              </a>
            </div>  
            <div class="bio">{{ profile.bio }}</div>
            @if (this.isCurrentUser()) {
              <a
                [routerLink]="['/settings']"
                class="setting-btn bottom-0 overcloud-btn" >
                <i class="ion-gear-a"></i> Settings
              </a>
            }
            
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;

          @if (!this.isCurrentUser()) {
            <app-follow-button
            [profile]="profile"
          >
          </app-follow-button>
          }
        </div>
    
      <hr>

      <div class="container col-sm-12 col-md-10 col-lg-10 col-xl-8 self-center">
        <div class="articles-toggle outline-active flex list-none flex-wrap">
              <a
                class="menu-btn overcloud-btn mr-2"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/@'.concat(profile.username)]"
              >
                Created posts
              </a>
              <a
                class="menu-btn overcloud-btn mr-2"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/@'.concat(profile.username), 'favorites']"
              >
                Favorited posts
              </a>
              <a
                class="menu-btn overcloud-btn mr-2"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/@'.concat(profile.username), 'practices']"
              >
                Practice history
              </a>
              <a
                class="menu-btn overcloud-btn mr-2"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/@'.concat(profile.username), 'tests']"
              >
                Created tests
              </a>
          </div>
        <br>
        <hr>
        <router-outlet></router-outlet>
      </div>
  }
</div>
