<div class="flex justify-center">
  <!-- <app-side-bar class="col-sm-0 col-s-0"></app-side-bar> -->
  
  <div class="w-full">
    @if (canModify()) {
      <div>
        <a
          class="overcloud-btn edit-btn"
        >
          Edit
        </a>
        <span>&nbsp;&nbsp;</span>
        <button
          class="delete-btn"
          (click)="deleteTest()"
        >
          Delete
        </button>
      </div>
    }
    
    <h1>{{ this.test.title }}</h1>
    <!-- <button (click)="deleteTest()" class="overcloud-btn w-28">Xóa bài test</button> -->
    <form (ngSubmit)="createPractice()" [formGroup]="this.questionForm" class="flex flex-col items-center">
      <ol class="w-full">
        <li
          *ngFor="let question of this.test.questions; let qIndex = index"
          class="list-decimal p-3"
        >
          <div class="question m-2">{{ question.question }}</div>
          @if (question.questionType == 1) {
          <ol class="answers-list">
            <li *ngFor="let answer of asChoiceQuestion(qIndex).answers; let aIndex = index">
              @if (!asChoiceQuestion(qIndex).isMultipleAnswers) {
                  <input
                  class="cursor-pointer"
                  type="radio"
                  id="{{ answer.id }}"
                  value="{{ answer.id }}"
                  formControlName="{{ question.id }}"
                />
              }
              
              @if (asChoiceQuestion(qIndex).isMultipleAnswers) {
                <span formArrayName="{{question.id}}">
                  <span formGroupName="{{aIndex}}">
                    <input 
                    class="cursor-pointer"
                    type="checkbox"
                    id="{{ answer.id }}"
                    formControlName="selected"
                  />
                    </span>
                </span>  
              }
              
              <label for="{{ answer.id }}" class="cursor-pointer">
                <div class="inline-block m-2">{{ answer.answer }}</div></label
              >
            </li>
          </ol>
        }
        @if (question.questionType == 2) {
          <fieldset class="form-group">
            <textarea type="text" class="border-none outline-none w-full" formControlName="{{ question.id }}"></textarea>
          </fieldset>
        }
          
        </li>
      </ol>
    
      <button
        type="submit"
        class="submitTestBtn overcloud-btn"
      >
        Nộp bài test
      </button>
    </form>
  </div>
  </div>


