
.header {
  border-radius: 12px;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

.answers-list {
  list-style-type: upper-latin;
}

fieldset.form-group {
  padding: 5px;
  border-radius: 10px;
  background: white;
  border: 1px solid;
}

* {
  word-wrap: break-word;
  word-break: break-word;
}

.submitTestBtn {
  border-radius: 8px;
  padding: .2em 1em;
}

.question-list {
  background-color: white;
  border-radius: 12px;
}