

.answers-list {
  list-style-type: upper-latin;
}

fieldset.form-group {
  padding: 5px;
  border-radius: 10px;
  background: white;
}

* {
  word-wrap: break-word;
  word-break: break-word;
}

.submitTestBtn {
  border-radius: 8px;
  padding: .2em 1em;
}