<div class="auth-page flex justify-center">
    <!-- <app-side-bar class="col-sm-0 col-s-0"></app-side-bar> -->

    <div class=" login-panel">
      <h1 class="text-xs-center">{{ title }}</h1>
      <p class="text-xs-center">
        <a [routerLink]="['/register']">Create account</a>
      </p>
      <app-list-errors [errors]="errors"></app-list-errors>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <fieldset class="form-group">
            <input
              formControlName="email"
              placeholder="Email"
              class="form-control"
              type="text"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="password"
              placeholder="Mật khẩu"
              class="form-control"
              type="password"
            />
          </fieldset>
          <button
            class="btn-login overcloud-btn"
            [disabled]="!authForm.valid"
            type="submit"
          >
            {{ title }}
          </button>
        </fieldset>
      </form>
    </div>

</div>
