<div class="profile-page flex justify-center flex-col" >

  @if (profile) {
      <div class="user-info" >
        <div class="flex flex-row p-4 user-info">
          <img [src]="profile.image" class="user-img" alt="Avatar" width="160" height="160"/>
          <div class="user-info flex flex-col ml-5 relative">
            <h1 class="font-bold mb-4">{{ profile.username }}</h1>
            <div class="bio">{{ profile.bio }}</div>
    
            @if (isUser) {
              <a
              [routerLink]="['/settings']"
              class="setting-btn absolute bottom-0" >
              <i class="ion-gear-a"></i> Settings
            </a>
            }
            
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;

          @if (!isUser) {
            <app-follow-button
            [profile]="profile"
          >
          </app-follow-button>
          }
        </div>
      </div>
    
      <hr>

      <div class="container col-sm-12 col-md-10 col-lg-10 col-xl-8 self-center">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active flex list-none">
            <li class="nav-item mr-2">
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/@'.concat(profile.username)]"
              >
                Created posts
              </a>
            </li>
            <li class="nav-item mr-2">
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/@'.concat(profile.username), 'favorites']"
              >
                Favorited posts
              </a>
            </li>
            <li class="nav-item mr-2">
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/@'.concat(profile.username), 'practices']"
              >
                Practice history
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/@'.concat(profile.username), 'practices']"
              >
                Created tests
              </a>
            </li>
          </ul>
        </div>
        <br>
        <hr>
        <router-outlet></router-outlet>
      </div>
  }
</div>
