<div
  class="article-preview col-12"
  [routerLink]="['/articles', article.id]"
  (click)="$event.stopPropagation()"
>
  <app-article-meta [article]="article"> </app-article-meta>

  <!-- <a class="preview-link"> -->
  <h1 class="font-bold mb-4 title">{{ article.title }}</h1>
  <p class="mb-4">{{ article.description }}</p>
  <ul class="tag-list mb-4">
    @for (tag of article.tagList; track $index) {
      <li class="tag-pill">
        {{ tag.name }}
      </li>
    }
  </ul>
  <!-- </a> -->

  <app-favorite-button
    [article]="article"
    (toggle)="toggleFavorite($event)"
    class="pull-xs-right"
  >
    {{ article.favoritesCount }}
  </app-favorite-button>

</div>