

div, h1, p {
  white-space:pre-wrap;
  word-break:break-word;
}
.nav-link {
  cursor: pointer;
}
            
.tag-pill {
  background-color: white;
  cursor: pointer;
  margin: 7px;
}

.tag-list {
  flex-wrap: wrap;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px)  {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)  and (max-width: 992px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)   and (max-width: 1200px){
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

