<div class="home-page flex justify-center">
  <!-- <app-side-bar class="col-sm-0 col-s-0"></app-side-bar> -->

  <div class="container flex flex-col justify-center w-full items-center">
      <div class="m-auto" *rxLet="tags$; let tags">
        <br>
        <div class="tag-list">
          <a (click)="setListTo()" class="tag-pill"> Tất cả </a>
          @for (tag of tags; track $index) {
            <a
            (click)="setListTo({ tag: tag.id })"
            class="tag-pill"
          >
            {{ tag.name }}
          </a>
          }
        </div>
  
        <div [hidden]="tagsLoaded">Loading tags...</div>
  
        <div [hidden]="!tagsLoaded || tags.length > 0">
          No tags.
        </div>
      </div>
     <br> 
    <app-article-list class="col-sm-12 col-md-10 col-lg-10 col-xl-8" [limit]="10" [config]="listConfig"></app-article-list>
  </div>

</div>
