


.test {
    margin: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 12px;  
}

.test:hover {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    cursor: pointer;
}