w<div class="flex justify-center container mt-3 w-full">

    <app-list-errors [errors]="errors"></app-list-errors>

    <form [formGroup]="testForm" class="w-full">
      <fieldset class="flex flex-col border-none" [disabled]="isSubmitting">
          <input
            pInputText
            id="title"
            class="form-control form-control-lg w-full outline-none"
            formControlName="title"
            type="text"
            placeholder="Title"
          />
          <br>
          <input
            pInputText
            id="description"
            class="form-control form-control-lg w-full outline-none"
            formControlName="description"
            type="text"
            placeholder="Description"
          />
  
        <div formArrayName="questions">
          <div
            class="question p-2"
            *ngFor="let question of questionsFormArr.controls; let qIndex = index"
            [formGroupName]="qIndex"
          >
          <div class="flex">
            <app-editor class="form-group mb-3 w-full" id="question-{{ qIndex }}" (content)="questionChange($event, question)" ></app-editor>

            <span class="mod-options cursor-pointer" >
              <i class="pi pi-times" (click)="deleteQuestion(qIndex)"></i>
            </span>
          </div>
  
          @if (this.isChoiceQuestion(qIndex)) {
            <div formArrayName="answers">
              <div
                class="flex mb-2 answer-container"
                *ngFor="
                  let answer of getAnswerFormArr(qIndex).controls;
                  let aIndex = index
                "
                [formGroupName]="aIndex"
              >
                <app-editor class="form-group mb-3 w-full" id="{{ aIndex }}" (content)="answerChange($event, answer)" ></app-editor>

                <fieldset class="form-group mr-3 truth-fieldset flex content-center">
                  <label class="checkmark-fieldset">
                    <input
                      class="form-control form-border"
                      formControlName="truth"
                      type="checkbox"
                    />
                    <span class="checkmark"></span>
                  </label>  
                </fieldset>
                  
                <span class="mod-options cursor-pointer" >
                  <i class="pi pi-times delete-answer-icon" (click)="deleteAnswer(qIndex, aIndex)"></i>
                </span>
                <br>
              </div>
              <button
                type="button"
                class="addAnswerBtn"
                (click)="addAnswer(qIndex)"
              >
                Add answer
              </button>
            </div>
          }
          </div>
        </div>
  
        <div>
          <button
            type="button"
            class="addQuestionBtn overcloud-btn"
            (click)="addChoiceQuestion()"
          >
            Add choice question
          </button>
  
          <button
            type="button"
            class="addQuestionBtn overcloud-btn"
            (click)="addOpenQuestion()"
          >
            Add open question
          </button>
        </div>
      </fieldset>
      <button class="createTestBtn overcloud-btn float-right mt-2" type="submit" (click)="this.submitForm()">
        Create test
      </button>
    </form>
</div>
