<app-list-errors class="error-list" [errors]="this.error"></app-list-errors>

<div class="card flex gap-4 flex-col">
    <button class="overcloud-btn add-user-btn" [routerLink]="['create']"><i class="pi pi-user-plus"></i></button>
    <p-iconField iconPosition="left">
        <p-inputIcon>
            <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
            pInputText
            type="text"
            [(ngModel)]="this.searchKeywords"
            placeholder="Search keyword"
        />
    </p-iconField>
</div>
<div class="card flex flex-col justify-center">
    <p-table #table 
    [value]="this.tests.tests"
    [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%">ID</th>
                <th style="width:20%">Author</th>
                <th style="width:20%">Title</th>
                <th style="width:20%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-test>
            <tr>
                <td>{{ test.id }}</td>
                <td>{{ test.title }}</td>
                <td>{{ test.description }}</td>
                <td>
                    <button class="overcloud-btn edit-user-btn mr-5" [routerLink]="[test.id, 'update']"><i class="pi pi-pencil"></i></button>&emsp;
                    <button class="delete-btn" (click)="deleteTest(test.id)"><i class="pi pi-trash"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="10" [totalRecords]="this.tests.testCount" [rowsPerPageOptions]="[5, 10, 20, 30]" />
</div>