


<form [formGroup]="this.createUserForm" method="post" (ngSubmit)="createUser()">
    <div class="form-errors">
      <app-list-errors [errors]="errors"></app-list-errors>

      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
          <div *ngIf="username?.hasError('required')">
            Username can't be blank.
          </div>
          <div *ngIf="username?.hasError('minlength') || username?.hasError('maxlength')">
            Username must contains from 6 to 32 characters
          </div>
      </div>
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
          <div *ngIf="password?.hasError('required')">
            Password can't be blank.
          </div>
          <div *ngIf="password?.hasError('minlength') || username?.hasError('maxlength')">
            Password must contains from 8 to 64 characters.
          </div>
      </div>
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
          <div *ngIf="email?.hasError('required')">
            Email can't be blank.
          </div>
          <div *ngIf="email?.hasError('email')">
            Email is not valid.
          </div>
      </div>
    </div>
  
    <div class="flex flex-col w-fit gap-10">
        <div class="flex justify-between"><label class="self-center" for="username">Username: </label><input pInputText id="username" formControlName="username" class="float-right" /></div>
        <div class="flex justify-between"><label class="self-center" for="password">Password: </label><input pInputText type="password" id="password" formControlName="password" class="float-right" /></div>
        <div class="flex justify-between"><label class="self-center" for="email">Email: </label><input pInputText id="email" formControlName="email" class="float-right" /></div>
        <div class="flex justify-between"><label class="self-center" for="bio">Bio: </label><input pInputText id="bio" formControlName="bio" class="float-right" /></div>
        <div class="flex justify-between"><label class="self-center" for="image">Image: </label><input pInputText id="image" formControlName="image" class="float-right" /></div>
        <div class="flex flex-row gap-2"><label>Enabled?: </label> 
            <div class="flex flex-wrap gap-4">
                <div class="flex items-center">
                    <p-radioButton inputId="enabledOn" [value]="true" formControlName="enabled" />
                    <label for="enabledOn" class="ml-2">On</label>
                </div>
            
                <div class="flex items-center">
                    <p-radioButton inputId="enabledOff" [value]="false" formControlName="enabled"/>
                    <label for="enabledOff" class="ml-2">Off</label>
                </div>
            </div>
        </div>

        <button class="overcloud-btn createUserBtn w-fit self-center" type="submit">Create</button>
    </div>
</form>



