

.btn-favorite {
  padding: 3px;
  border: none;
  background-color: white;
}

.btn-favorite:hover {
  cursor: pointer;
}

.pi-heart-fill {
  background-color: white;
}

.pi-heart {
  color: gray;
}

.pi-heart:hover {
  color: black;
}