<div class="flex justify-center">
  <!-- <app-side-bar class="col-sm-0 col-s-0"></app-side-bar> -->
  
  <div class="w-full">
    @if (canModify()) {
      <div>
        <a
          class="overcloud-btn edit-btn"
          (click)="editTest()"
        >
          Edit
        </a>
        <span>&nbsp;&nbsp;</span>
        <button
          class="delete-btn"
          (click)="deleteTest()"
        >
          Delete
        </button>
      </div>
    }
    
    <div class="header">
      <h1>{{ this.test.title }}</h1>
    </div>

    <form (ngSubmit)="createPractice()" [formGroup]="this.questionForm" class="flex flex-col items-center">
      <ol class="question-list">
        <li
          *ngFor="let question of this.test.questions; let qIndex = index"
          class="list-decimal p-3"
        >
          <div class="question m-2">{{ question.question }}</div>
          @if (question.questionType === QuestionType.CHOICE) {
          <ol class="answers-list">
            <li *ngFor="let answer of asChoiceQuestion(qIndex).answers; let aIndex = index">
                <span formArrayName="{{question.id}}">
                  <span formGroupName="{{aIndex}}">
                    <input 
                    class="cursor-pointer"
                    type="checkbox"
                    id="{{ answer.id }}"
                    formControlName="selected"
                  />
                    </span>
                </span>  
              <label for="{{ answer.id }}" class="cursor-pointer">
                <div class="inline-block m-2">{{ answer.answer }}</div></label
              >
            </li>
          </ol>
        }
        @if (question.questionType === QuestionType.OPEN) {
            <app-open-question [questionId]="question.id" ></app-open-question>
        }    
        </li>
      </ol>
      <button
        type="submit"
        class="submitTestBtn overcloud-btn"
      >
        Submit
      </button>
    </form>
  </div>
  </div>


