.menu-item {
    background-color: transparent;
    border: none;
    border-radius: 0.4rem;
    color: #303030;
    cursor: pointer;
    height: 2.5rem;
    margin-right: 0.25rem;
    padding: 0.25rem;
    width: 3rem;
  
    span {
      fill: currentColor;
      height: 100%;
      width: 100%;
    }
  
    &:hover,
    &.is-active {
      background-color: gray ;
    }
}

.tiptap-editor {
  min-height: 20vh;
}
