@if (article) {
  <div class="article-page flex justify-between">
  
    <div class="article-container">
      <div class="banner">
        <div class="container">
          <h1 class="title">{{ article.title }}</h1>
          <h2 class="description">{{ article.description }}</h2>
          <app-article-meta [article]="article">
            @if (canModify()) {
              <span>
                <a
                  class="overcloud-btn edit-btn"
                  [routerLink]="['/editor', article.id]"
                >
                  Edit
                </a>
                <span>&nbsp;&nbsp;</span>
                <a
                  class="delete-btn"
                  [ngClass]="{ disabled: isDeleting }"
                  (click)="deleteArticle()"
                >
                  Delete
                </a>
              </span>
            }
              <div class="follow-favorites-panel">
                @if (!canModify()) {
                <app-follow-button
                  [profile]="article.author"
                  class="mr-3"
                >
                </app-follow-button>
                }
                <app-favorite-button
                  [article]="article"
                  (toggle)="onToggleFavorite($event)"
                > 
                  {{ article.favorited ? " " : " " }}
                  <span class="counter">{{ article.favoritesCount }}</span>
                </app-favorite-button>
              </div>
          </app-article-meta>
        </div>
      </div>
      <hr>
      <div class="page">
        <div class="row article-content col-md-12">
            <!-- <div [innerHTML]="article.body | markdown | async"></div> -->
            <div [innerHTML]="article.body"></div>
            <ul class="tag-list">
              @for (tag of article.tagList; track $index) {
              <li
                class="tag-pill"
              >
                {{ tag.name }}
              </li>
              }
            </ul>

            <div class="flex">
              <app-favorite-button
                [article]="article"
                (toggle)="onToggleFavorite($event)"
              > 
                {{ article.favorited ? " " : " " }}
                <span class="counter">{{ article.favoritesCount }}</span>
              </app-favorite-button>
              <i id="comments-btn" class="pi pi-comments" (click)="showDialog()"></i>
            </div>
        </div>
    
        <hr />
    
        <div class="article-actions">
          <app-article-meta [article]="article">
            @if (canModify()) {
              <span>
                <a
                  class="overcloud-btn edit-btn"
                  [routerLink]="['/editor', article.id]"
                >
                  Edit
                </a>
                <span>&nbsp;&nbsp;</span>
                <a
                  class="delete-btn"
                  [ngClass]="{ disabled: isDeleting }"
                  (click)="deleteArticle()"
                >
                  Delete
              </a>
              </span>
            }
            
          </app-article-meta>
          
        </div>
    
        @if (this.visible === true) {
          <app-comment-dialog [articleId]="this.article.id" (visible)="this.closeDialog()"></app-comment-dialog>
        }
        
      </div>
    </div>
  </div>  
}
