@if (this.comment != null) {
  <div class="card">
    <div class="card-header">
      <a
        class="comment-author"
        [routerLink]="['/@'.concat(this.comment.author.username)]"
      >
        <img
          [src]="this.comment.author.image"
          alt="author image"
          class="comment-author-img"
        />
      </a>
      &nbsp;
      <a
        class="author"
        [routerLink]="['/@'.concat(this.comment.author.username)]"
      >
        {{ this.comment.author.username }}
      </a>
      <span class="date-posted">
        {{ this.comment.createdAt | date : "longDate" }}
      </span>
      @if (canModify()) {
        <span class="mod-options cursor-pointer" >
          <i class="pi pi-trash" (click)="delete.emit(true)"></i>
        </span>


      }
      
    </div>
    <div class="card-block">
      <div class="card-text" [innerHTML]="this.comment.body">
      </div>
    </div>
  </div>  
}
