@if (article) {
  <div class="article-page flex justify-between">
  
    <div class="article-container flex flex-col">
      <div class="banner">
        <div class="container">
          <h1 class="title">{{ article.title }}</h1>
          <h2 class="description">{{ article.description }}</h2>
          <app-article-meta [article]="article">
            @if (canModify()) {
              <span>
                <a
                  class="overcloud-btn edit-btn"
                  [routerLink]="['/editor', article.id]"
                >
                  Edit
                </a>
                <span>&nbsp;&nbsp;</span>
                <button
                  class="delete-btn"
                  [ngClass]="{ disabled: isDeleting }"
                  (click)="deleteArticle()"
                >
                  Delete
                </button>
              </span>
            }
              <div class="follow-favorites-panel">
                @if (!canModify()) {
                <app-follow-button
                  [profile]="article.author"
                >
                </app-follow-button>
                }
                &nbsp;&nbsp;
                <app-favorite-button
                  [article]="article"
                  (toggle)="onToggleFavorite($event)"
                > 
                  {{ article.favorited ? " " : " " }}
                  <span class="counter">{{ article.favoritesCount }}</span>
                </app-favorite-button>
              </div>
          </app-article-meta>
        </div>
      </div>
      <hr>
      <div class="page">
        <div class="row article-content col-md-12">
            <!-- <div [innerHTML]="article.body | markdown | async"></div> -->
            <div [outerHTML]="article.body"></div>
            <ul class="tag-list">
              @for (tag of article.tagList; track $index) {
              <li
                class="tag-pill"
              >
                {{ tag }}
              </li>
              }
            </ul>

            <div class="flex">
              <app-favorite-button
                [article]="article"
                (toggle)="onToggleFavorite($event)"
              > 
                {{ article.favorited ? " " : " " }}
                <span class="counter">{{ article.favoritesCount }}</span>
              </app-favorite-button>
              <i id="comments-btn" class="pi pi-comments" (click)="showDialog()"></i>
            </div>
        </div>
    
        <hr />
    
        <div class="article-actions">
          <app-article-meta [article]="article">
            @if (canModify()) {
              <span>
                <a
                  class="overcloud-btn edit-btn"
                  [routerLink]="['/editor', article.id]"
                >
                  Edit
                </a>
                <span>&nbsp;&nbsp;</span>
                <button
                  class="delete-btn"
                  [ngClass]="{ disabled: isDeleting }"
                  (click)="deleteArticle()"
                >
                  Delete
                </button>
              </span>
            }
            
          </app-article-meta>
          
        </div>
    
        
        <p-dialog 
            header="Comments" 
            [(visible)]="visible" 
            [modal]="true" 
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
            [style]="{ width: '50vw' }" 
            [draggable]="false" 
            [resizable]="false">
              <div *appShowAuthed="true">
                <app-list-errors [errors]="this.commentFormErrors"></app-list-errors>
                <form class="comment-form" (ngSubmit)="addComment()">
                  <fieldset [disabled]="isSubmitting" class="border-none">
                    <div class="card-block">
                      <textarea
                        class="form-control w-11/12 outline-none"
                        placeholder="Write comment..."
                        rows="3"
                        [formControl]="commentControl"
                      ></textarea>
                    </div>
                    <hr>
                    <button class="overcloud-btn comment-btn" type="submit">
                      Respond
                    </button>
                  </fieldset>
                </form>
              </div>
      
              <div *appShowAuthed="false">
                <a [routerLink]="['/login']">Login</a> or 
                <a [routerLink]="['/register']">Register</a> to comments on this post.
              </div>
              <br>
              @for (comment of comments; track $index) {
                <app-article-comment
                [comment]="comment"
                (delete)="deleteComment(comment)"
                >
                </app-article-comment>
              }  
        </p-dialog>
      </div>
    </div>
  </div>  
}
