.question {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    padding-bottom: 2rem;
    cursor: pointer;
}
.question:hover {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

.deleteBtn {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.deleteBtn:hover {
    color: #b85c5c;
}

.editBtn {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.editBtn:hover {
    color: #0084ff;
}

.edit-menu {
    float: right;
}

.updateTestBtn {
    border-radius: 8px;
    padding: .3em 8px;
    margin: 0 auto;
    display: block;
}

.updateQuestion {
    background-color: aliceblue;
}

.newQuestion {
    background-color: #E4F4DA;
}

.deleteQuestion {
    background-color: #FF8383;
}
