<div class="flex justify-center">

    <div class="mt-3 w-full">
      <app-list-errors [errors]="errors"></app-list-errors>
        <h1>{{ this.testUpd.title }}</h1>
        <span>{{ this.testUpd.description }}</span>
        <ol>
            @for (questionUpd of this.testUpd.questions; track $index; let qIndex = $index) {
                <li class="question">
                    @if (questionUpd.question.questionType == 1) {
                        <div>
                            <div>{{questionUpd.question.question}}</div>
                        </div>
                        <ol>
                        @for (answer of asChoiceQuestion($index).answers; track $index; let aIndex = $index) {
                            <li>{{answer.answer}}</li>
                        }
                        </ol>
                    } @else if (questionUpd.question.questionType == 2) {
                        <div>{{questionUpd.question.question}}</div>
                    }
                    <div class="edit-menu">
                        <i class="pi pi-pencil editBtn" style="font-size: 1.5rem" (click)="showDiablog(qIndex)" ></i>&nbsp;&nbsp; 
                        <i class="pi pi-times deleteBtn" style="font-size: 1.5rem"></i>    
                    </div>
                </li>
            }
        </ol>
            
        <button class="updateTestBtn overcloud-btn mt-2" type="submit">
          Update
        </button>
    </div>
  </div>
  
<p-dialog 
    header="Edit question" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false"
    (onHide)="closeDiablog()">

    <form [formGroup]="this.questionForm" (ngSubmit)="saveQuestion()">

        <div class="flex align-items-center gap-3 m-3">
            <label for="question" class="font-semibold p-2">Question: </label>
            <input pInputText id="question" class="flex-auto" />
        </div>

        <!-- @if (this.editableQuestion.question.questionType == 1) {
            @for (answer of toChoiceQuestion(this.editableQuestion.question).answers; track $index) {

            }
        } -->

        <!-- @if (this.editableQuestion.question.questionType == 2) {
            
        } -->
        
        <div class="flex justify-content-end gap-2 float-right">
            <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
            <p-button type="submit" label="Save"  />
        </div>
    </form>
</p-dialog>
