<app-list-errors class="error-list" [errors]="this.error"></app-list-errors>

<div class="card flex gap-4 flex-col">
    <button class="overcloud-btn add-tag-btn" [routerLink]="['create']"><i class="pi pi-user-plus"></i></button>
    <p-iconField iconPosition="left">
        <p-inputIcon>
            <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
            pInputText
            type="text"
            [(ngModel)]="this.searchKeywords"
            placeholder="Search keyword"
        />
    </p-iconField>
</div>

@if (this.tags != null) {
    <div class="card flex flex-col justify-center">
        <p-table #table 
        [value]="this.tags.tags"
        [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:20%">ID</th>
                    <th style="width:20%">Name</th>
                    <th style="width:20%">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tag>
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.name }}</td>
                    <td>
                        <button class="overcloud-btn edit-tag-btn mr-5" [routerLink]="[tag.id, 'update']"><i class="pi pi-pencil"></i></button>&emsp;
                        <button class="delete-btn" (click)="deleteTag(tag.id)"><i class="pi pi-trash"></i></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [rows]="10" [totalRecords]="this.tags.tagCount" [rowsPerPageOptions]="[5, 10, 20, 30]" />
    </div>
}
