<div class="editor-page">

  <div class="p-4">
    <app-list-errors [errors]="errors"></app-list-errors>

    <form [formGroup]="articleForm">
      <fieldset [disabled]="isSubmitting">
        <fieldset class="form-group bg-white">
          <input
            class="form-control form-control-lg w-full outline-none"
            formControlName="title"
            type="text"
            placeholder="Title..."
          />
        </fieldset>
  
        <fieldset class="form-group bg-white">
          <input
            class="form-control w-full outline-none"
            formControlName="description"
            type="text"
            placeholder="Description..."
          />
        </fieldset>
  
        <fieldset class="form-group bg-white">
          <input
            #tagInputTextElement
            class="form-control w-full outline-none"
            type="text"
            placeholder="Tags..."
            [formControl]="tagField"
            (focus)="focusInputTag()"
            (blur)="loseFocusInputTag()"
            (input)="changeInputTag()"
            (keydown)="selectTag($event)"
          />
  
          <div #tagInput [hidden]="isInputTag">
            <div
              class="cursor-pointer"
              name="inputTag"
              *ngFor="let tag of filteredTags | async"
              (mouseenter)="mouseEnterTag($event)"
              (mousedown)="clickTag()"
            >{{ tag }}</div>
          </div>
        </fieldset>
        <div class="inTag">
          @for (tag of inTags; track $index) {
          <div class="cursor-pointer relative"
            id="{{ tag }}">{{ tag }}
            <span
              class="material-symbols-outlined cancel-tag"
              (click)="deleteTag(tag)"
            >
              cancel
            </span>
          </div>
        }
          
        </div>

        <fieldset class="form-group bg-white">
          <div class="tiptap-editor">
            <div class="editor-header">
              @for (item of items; track $index) {
                <button class="menu-item" [class]="item.isActive && item.isActive()? 'is-active' : ''" (click)="item.action()"
              >
              <span class="material-symbols-outlined">
                {{item.icon}}
              </span>
              </button>
              }
            </div>
              
          </div>
        </fieldset>
        <button
          id="submitBtn"
          class="overcloud-btn"
          type="button"
          (click)="submitForm()"
        >
          Post
        </button>
      </fieldset>
    </form>
  </div>
  
</div>
