<div class="space"></div>

<div class="flex justify-center">
    <!-- <app-side-bar class="col-sm-0 col-s-0"></app-side-bar> -->
    <div class="justify-center register-panel">
      <h1 class="text-xs-center">{{ title }}</h1>
      <p class="text-xs-center">
        <a [routerLink]="['/login']">Sign in</a>
      </p>
      <app-list-errors [errors]="errors"></app-list-errors>
      @if (this.isRegisterSuccess) {
        <div>Register success, please check email.</div>
      }
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <fieldset class="form-group">
            <input
              formControlName="username"
              placeholder="Username"
              class="form-control form-control-lg"
              type="text"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="email"
              placeholder="Email"
              class="form-control form-control-lg form-border"
              type="text"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              formControlName="password"
              placeholder="Password"
              class="form-control form-control-lg form-border"
              type="password"
            />
          </fieldset>
          <button
            class="btn-register overcloud-btn"
            [disabled]="!authForm.valid"
            type="submit"
          >
            {{ title }}
          </button>
        </fieldset>
      </form>
    </div>

</div>
