.form-control {
    border: 1px solid;
    border-color: var(--surface-border);
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    outline: none;
}

.btn-register {
  background-color: #0084ff;
  padding: 7px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  width: 120px;
  margin-top: 2rem;
}

.register-panel {
  margin-top: 20px;
  width: 450px;
  text-align: center;
  border: 1px solid;
  border-color: var(--surface-border);
  border-radius: 12px;
  background-color: white;
  padding: 2rem;
}

.space {
  height: 25vh;
}